.form__employer {
  display: none; }

.form__credential {
  display: none; }

.card__container {
  display: initial; }

.form__skills {
  display: none; }

.form__skills-edit {
  display: initial; }

.form__education {
  display: none; }

.form__education-edit {
  display: initial; }

.form__experience {
  display: none; }

.form__experience-edit {
  display: initial; }

.card__form-login {
  display: none; }

.btn-icon__remove {
  cursor: pointer; }
