// .form__applicant {
//   display: none;
// }

.form__employer {
  display: none;
}

.form__credential {
  display: none;
}

.card__container {
  //   display: initial;
  display: none;
}

.form__skills {
  display: none;
}

.form__education {
  display: none;
}

.form__experience {
  display: none;
}
